:root{
    --color_mac_dinh: #2caffe;
}
.wraper{
    position: relative;
    width: 100%;
    height: 900px;
    margin: 0;
    padding: 0;
    font-family: Tahoma !important;



    /* NAV  */
    .nav{
        width: 100%;
        height: 60px;
        display: flex;
        position: fixed;
        top: 0px;
        left: 0;
        justify-content: center;
        box-shadow: 0 0 8px #888888;
        flex-wrap: wrap;
        z-index: 10;
        /* HEADER  */
        .header{
            display: flex;
            width: 100%;
            padding:0 120px;
            height: 60px;
            top: 0;
            background-color: white;
            justify-content: space-between;
            align-items: center;
    
            /* HEADER  LEFT*/
            .header_left{
                display: flex;
                justify-content: center;
                align-items: center;
                
                .header_left_logo,
                .header_left_logo img{
                    width: 184px;
                    height: 40px;
                }
    
                .header_left_search{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .header_left_input{
                        position: relative;
                        left: 10px;
                        width: 280px;
                        height: 30px;
                        border-radius: 20px !important;
                        outline: none;
                        padding: 0px 0px 0px 10px;
                        border: 1px solid #bdbdbd;
                        
                    }
                    
                    .header_left_input:focus{
                        border-color: #888;  
                    }
    
                    .fa-solid{
                        right: 0;
                        position: absolute;
                        z-index: 1;
                    }
    
                }
    
                /* HOVER icon search  */
                .header_left_search:hover > i{
                    cursor: pointer;
                }
            }
    
            /* HEADER  RIGHT */
            .header_right{
                display: flex;
                width: 387px;
                height: 60px;
                justify-content: space-evenly;
                align-items: center;
    
                .header_right_items{
                    display: flex;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
    
                    
                    .header_right_items_avatar{
                        width: 30px;
                        height: 30px;
                        border-radius: 50% !important;
                        object-fit: cover;
                    }
                    .space{
                        margin-right: 5px;
                    }
                    
                }
                
                .header_right_items:nth-child(1),
                .header_right_items:nth-child(2){
                    font-weight: 100;
                    font-size: 11px;
                    color: #667580;
                }
                .header_right_items:last-child{
                    font-weight: 200;
                    font-size: 13px;
                    line-height: normal ;
                    color: #667580;
                }
            }
        
            
        
            
        }
    }


    /* --------------------------BODY ----------------------- */

    .body{
        position: relative;
        top: 50px;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e7ecf0;

        .Body_top{
            position: absolute;
            top: 15px;
            width: 1230px;
            height: 260px;
            display: flex;
            justify-content: space-evenly;

            /* <!-- Thông tin sinh viên  --> */
            .information_SV{
                width: 674px;
                height: 230px ;
                background-color: #ffffff;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                padding: 10px;
                box-shadow: 0 0 8px #d2cece;
                .information_SV_title{
                    width: 674px;
                    height: 41px;
                    display: flex;
                    margin: 0;
                    color: var(--color_mac_dinh);
                    border-bottom:1px solid #eae4e4;
                }
                /* <!-- Khối tổng --> */
                .KhoiTong{
                    display: flex;
                    flex-direction: row;

                    /* <!-- Khối avartar --> */
                    .avatar{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        margin-top: 15px;

                        .avatar_avatar{
                            width: 120px;
                            height: 120px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin: 0 14px 10px 14px;
                        }
                        .avatar_chitiet{
                            text-decoration: none;
                            color: var(--color_mac_dinh);
                            font-size: 12px;
                        }
                        .avatar_chitiet:hover{
                            opacity: 0.5;
                        }
                    }

                    /* <!-- Khối thông tin 1 --> */
                    .information_SV_one{
                        flex: 1;

                        .information_SV_one_ul{
                            list-style: none;
                            position: relative;
                            top: 20px;
                            flex: 1;
                            
                            .information_SV_one_items{
                                margin-bottom: 15px;
                                font-size: 12px;
                            }
                        }
                    }

                    /* <!-- Khối thông tin 2 --> */

                    .information_SV_two{
                        flex: 1;

                        .information_SV_two_ul{
                            list-style: none;
                            position: relative;
                            top: 20px;
                            flex: 1;
                            .information_SV_two_items{
                                margin-bottom: 15px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            /* <!-- Thông báo, lịch học/thi  --> */
            .general_annoucement{
                width: 480px;
                height: 260px;
                z-index: 1;
                /* display: flex;
                flex-direction: column; */
                /* <!-- Thông báo  --> */
                .Notification{
                    box-shadow: 0 0 8px #d2cece;
                    position: relative;
                    width: 436px;
                    height: 86px;
                    padding: 15px;
                    margin-bottom: 15px;
                    background-color: white;

                    .Notification_title{
                        margin: 5px 0px 5px 0px;
                    }

                    .Notification_body{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 40px;

                        .Notification_body_Number{
                            font-size: 40px;
                            color: #667580;
                        }
                        
                        .baoquanh{
                            display: flex;
                            width: 30px;
                            height: 30px;
                            border: 1px solid black;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                        }
                    }
                    .Notification_chitiet{
                        color: var(--color_mac_dinh);
                        text-decoration: none;
                        font-size: 12px;
                    }
                    .Notification_chitiet:hover{
                        opacity: 0.5;
                    }
                }

                /* <!-- DIV CHUNG --> */
                .lichhoc_lichthi{
                    display: flex;
                    width: 466px;
                    justify-content: space-between;
                    /* <!-- Lịch học  --> */
                    .Schedule{
                        position: relative;
                        width: 195px;
                        height: 89px;
                        padding: 15px;
                        box-shadow: 0 0 8px #d2cece;
                        border-radius: 5px;
                        background-color: #e0fbff;
                        z-index: 1;


                        .Schedule_title{
                            margin-top: 0;
                            font-size: 13px;
                            color: var(--color_mac_dinh);
                        }

                        .Schedule_body{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 40px;
                            .Schedule_body_Number{
                                font-size: 40px;
                                color: var(--color_mac_dinh);
                            }
                        }
                        
                        .Schedule_chitiet{
                            text-decoration: none;
                            font-size: 12px;
                            color: var(--color_mac_dinh);
                            position: relative;
                            margin-bottom: -1px;
                        }
                        .Schedule_chitiet:hover{
                            opacity: 0.5;
                        }
                        
                    }
                    .Schedule:hover{
                        cursor: pointer;
                    }
                    /* <!-- Lịch thi --> */
                    .Test_schedule{
                        position: relative;
                        width: 195px;
                        height: 89px;
                        padding: 15px;
                        border-radius: 5px;
                        background-color: #fff2d4;
                        z-index: 1;
                        box-shadow: 0 0 8px #d2cece;
                        
                        .Test_schedule_title{
                            margin-top: 0;
                            font-size: 13px;
                            color: #ff9205;
                        }

                        .Test_schedule_body{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 40px;

                            .Test_schedule_body_Number{
                                font-size: 40px;
                                color: #ff9205;
                            }
                        }
                        .Test_schedule_chitiet{
                            text-decoration: none;
                            color: #ff9205;
                            font-size: 12px;
                        }
                        
                    }
                    .Test_schedule:hover{
                        cursor: pointer;
                    }
                }
                
                
            }
        }

        /* --------------------Body_Mid--------------- */
        
        .Body_mid{
            display: flex;
            width: 1180px;
            height: 135px;
            position: absolute;
            top: 100%;
            left: 17px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap-reverse;

            .Body_mid_items{
                width: 70px;
                height: 100px;
                padding: 10px;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                font-size: 12px;
                color: #888888;
                object-fit: cover;
                border-radius: 5px;
                
            }
            .Body_mid_items:hover{
                cursor: pointer;
            }
            .Body_mid_items:hover .text_body_mid{
                opacity: 0.8;
            }
            
            .Body_mid_items > img{
                width: 24px;
                height: 24px;
            }
        }

        .Body_bot{
            position: absolute;
            top: 100%;
            width: 1180px;
            display: flex;
            justify-content: space-between;

            /* <!-- Body_bot One   --> */
            .Body_bot_one{
                width: 446px;
                height: 390px;
                padding: 10px;
                background-color: white;
                margin-top: 10px;
                display: flex;
                flex-direction: column;

                .Body_bot_one_top{
                    width: 446px;
                    height: 46px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #e7d3d3;
                    
                    .Body_bot_one_top_title{
                        margin-top: 10px;
                        color: var(--color_mac_dinh);
                    }
                    .Body_bot_one_top_title:hover{
                        cursor: pointer;
                        opacity: 0.7;
                    }

                    .Body_bot_one_HK{
                        width: 158px;
                        height: 35px;
                        border-radius: 3px;
                        margin-top: -5px;
                        display: inline-block;
                        padding: 6px 12px;
                        outline: none;
                        border: 1px solid #b9b6b6;
                    }
                    .Body_bot_one_HK:focus{
                        border-color: var(--color_mac_dinh);
                    }
                }
                .Body_bot_one_body{ 
                    display: flex;
                    width: 446px;
                    height: 300px;
                    justify-content: space-evenly;
                    align-items: flex-end;
                    border-bottom: 1px solid black;
                    
                    .chart-layout__item{
                        width: 20px;
                        height: var(--percent);
                        background-color: #fa6c51;
                        text-align: center;
                        font-size: 10px;
                        border-radius: 2px 2px 0px 0;
                        animation: growth linear 1s;
                    }
                }
                
            }
            /* <!-- Body_bot Two    --> */
            .Body_bot_two{
                width: 288px;
                height: 390px;
                padding: 10px;
                background-color: white;
                margin-top: 10px;
                display: flex;
                flex-direction: column;

                .Body_bot_two_top{
                    width: 288px;
                    height: 46px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #e7d3d3;
                    /* margin-top: 10px; */
                    color: var(--color_mac_dinh);
                    
                }
                .Body_bot_two_top > h3{
                    margin-top: 10px;
                }

                .Body_bot_two_body{
                    width: 288px;
                    height: 300px;
                    display: flex;
                    
                    .VongNgoai{
                        position: relative;
                        margin: auto;
                        width: 222px;
                        height: 222px;
                        border-radius: 50%;
                        border: 20px solid var(--color_mac_dinh);

                        .VongTrong_one{
                            position: absolute;
                            width: 178px;
                            height: 178px;
                            border-radius: 50%;
                            border: 20px solid #cec8c8;
                        }
                        .VongTrong_two{
                            position: absolute;
                            top: -17px;
                            right: -21px;
                            width: 176px;
                            height: 176px;
                            border-radius: 50%;
                            border: 20px solid #00e272;
                            display: flex;
                            z-index: 1;
                        }
                        .VongTrong_two > h3{
                            margin: auto;
                            color: #667580;
                        }
                    }
                    .VongNgoai:hover .VongTrong_one{
                        opacity: 0.3;

                    }
                }
            }
            /* <!-- Body_bot Three   --> */
            .Body_bot_three{
                width: 350px;
                height: 390px;
                padding: 10px;
                background-color: white;
                margin-top: 10px;
                display: flex;
                flex-direction: column;

                .Body_bot_three_top{
                    width: 350px;
                    height: 46px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #e7d3d3;
                    /* margin-top: 10px; */
                    color: var(--color_mac_dinh);

                    .Body_bot_three_HK{
                        width: 158px;
                        height: 35px;
                        border-radius: 3px;
                        margin-top: -5px;
                        display: inline-block;
                        padding: 6px 12px;
                        outline: none;
                        border: 1px solid #b9b6b6;
                    }
                }

                .Body_bot_three_body{
                    display: flex;
                    flex-direction: column;

                    .Body_bot_three_body_top{
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                        font-size: 12px;
                        color: #888888;
                    }
                    .scroll{
                        height: 270px;
                        overflow:  scroll;
                        width: 100%;
                        outline: none;
                        .Body_bot_three_body_table{
                            width: 100%;
                            .mhp{
                                line-height: 1.7;
                                .mhp_a{
                                    text-decoration: none;
                                    color: var(--color_mac_dinh);
                                    font-size: 17px;
                                }
                            }
                            .tenhp{
                                color: #888888;
                                font-size: 13px;
                            }
                        }
                    }
                    
                }
            }
        }
    } 
    .navigation{
        position: fixed;
        top: 100px;
        width: 188px;
        height: auto;
        background: var(--color_mac_dinh);
        animation: pp linear 1s;

        .navigation_img{
            position: absolute;
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
            padding: 10px;
            left: calc(100% + 5px);
            background-color: white;
            box-shadow: 0 0 22px #e9e7e7;
        }

        .navigation_ul{
            margin-top: 0px;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-content: space-evenly;
            padding: 0;
            
            .navigation_li{
                width: 100%;
                display: flex;
                flex-direction: column;
                
                
                .navigation_li_items{
                    text-decoration: none;
                    color: white;
                    border-bottom: 1px solid #e2dddd;
                    padding-left: 10px;
                    max-width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-a;
                    font-size: 12px;
                }

                .navigation_li_items > p{
                    padding-left: 5px;
                    flex: 1;
                }
                .navigation_li_items > i{
                    padding-right: 5px;
                }
            }
            .navigation_li:hover{
                animation: hover linear 1s forwards ;
                
            }
            
            .navigation_li-ative{
                list-style: none;
                display: none;
                padding-left: 0;

                .navigation_li-ative_items > a{
                    text-decoration: none;
                    margin-left: 10px;
                    color: white;
                    font-size: 12px;
                }
                .navigation_li-ative_items{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    
                }
                
                .navigation_li-ative_items:hover{
                    animation: hover linear 1s forwards ;
                }
                
            }
            

            
        }
        .navigation_li-ttc:active ~ .navigation_li-ative{
            display: block;
            animation: pp linear 0.5s;
        }
    }
}

@keyframes hover{
    from{
        opacity: 0;
        background-color: #0f5c8c;
    }
    to{
        opacity: 1;
        background-color: #0f5c8c;
    }
}
@keyframes pp{
    from{
        opacity: 0;
        transform: translateX(calc(-100% - 10px));
    }
    to{
        opacity: 1;
               transform: translateX(0);
    }
}
@keyframes growth{
    from{
        opacity: 0;
        height:0%;
    }
    to{
        opacity: 1;
        height: var(--percent);
    }
}


